body {
    font-family: 'Sora', sans-serif;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .head-1 {
    display: flex;
    font-family: 'Sora', sans-serif;
    color: #FF6B6B;
    align-items: center; /* Center elements vertically */
  }
  
  .nav-head {
    font-size: 20px;
    display: flex;
    gap: 30px;
    margin-top: 4.2%;
    margin-left: 35%;
    
  }
  
  a {
    text-decoration: none;
    color: #FF6B6B;
  }

  a:hover{
    border-radius: 12px;
    padding: 4px;
    text-shadow: 0 0 5px #ff4e4e, 0 0 15px #ff4e4e, 0 0 20px #ff4e4e, 0 0 40px #ff4e4e, 0 0 60px #ff0000, 0 0 10px #ff4e4e, 0 0 98px #ff0000;
    color: #fff;
    background-color: #FF6B6B;
  }
  
  h1 {
    margin-top: 4.2%;
    font-size: 45px;
    margin-left: 15%;
  }
  
  .hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
    background-color: transparent;
    border: none;
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 10px;
  }
  
  .hamburger-menu:focus {
    outline: none; /* Remove outline on focus */
  }
  
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FF6B6B;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  .hamburger-menu.active .bar:first-child {
    /* Rotate first bar on menu click */
    transform: translateX(10px) rotate(-45deg);
  }
  
  .hamburger-menu.active .bar:last-child {
    /* Rotate third bar on menu click */
    transform: translateX(-10px) rotate(45deg);
  }
  
  /* Media queries for responsive behavior */
  
  @media screen and (max-width: 768px) {
    .head-1 {
      justify-content: space-between; 
    }
  
    h1{
      margin-top: 4.2%;
      font-size: 45px;
      margin-left: 11px;
    }
    .nav-head {
      display: none; /* Initially hide navigation links */
      position: absolute; /* Position off-screen initially */
      top: 100%; /* Position below the header */
      left: 0; /* Align to left edge */
      width: 100%; /* Full width of the screen */
      background-color: #fff; /* Set background color */
      padding: 20px; /* Add padding for better look */
      transition: transform 0.3s ease-in-out; /* Smooth transition */
      transform: translateX(-100%); /* Move off-screen to left by 100% */
    }
  
    .hamburger-menu.active .nav-head {
      transform: translateX(0); /* Show navigation on menu click */
    }
  
    .hamburger-menu {
      display: block; /* Show hamburger menu on smaller screens */
    }

    h2 {
      margin-left: 11px;
      font-size: 45px;
    }
  }
  
.body-2{
  color: #000;
  font-size: 40px;
  margin-left: 15%;
}

.span-x1 {
  background-color: #41ff5e;
}

.body-p2 {
  font-size: 30px;
  left: 10%;
  color: #747474;
}